<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Prime No Check</title>
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
<script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
</head>
<body>
    <div class="container">
        <h1>Prime Number Checker</h1>
        <form action="/check_prime" method="post" class="primeform">
            <label for="number">Enter a number:</label>
            <input type="number" id="number" name="number" required><br>
            <button class="primeform" type="submit">Check</button>
        </form>
    </div>
    <!-- bINARY TO DECIMAL -->
    <div class="container">
        <h1>BinaryToDecimal</h1>
        <form action="/check_prime" method="post">
            <label for="number">Enter a Binary number:</label>
            <input type="number" id="number" name="number" required><br>
            <button class="primeform" submit">Check</button>
        </form>
    </div>
</body>
</html>